    body {
                background-color: #ff2300;
            }
            div.abc h1.aa{
                color: #675489 ;
                font-style: oblique;
               background-color: #f888aa;
               }
   div.abcd h1.aa{
                color: #245678 ;
                font-style: oblique;
               background-color: #876542;
               }