body{
    background: #fff;
}
h1.head{
        background-color: #754578;
        color: #ffffff;
        float: left;
        width: 100%;
        margin-left: 0%;
    }
div.abt{
    
    color:#000;
    background: #345676;
    line-height: 2em;
    height:3px;
    width:90%;
    font-size: medium;
    margin: auto;
    padding: 10px;
    border: 2px solid #000;
    
}