body {
    background: #345676 none repeat scroll 0 0;
}
h1.head {
    background-color: #754578;
    color: #ffffff;
    float: left;
    margin-left: 0;
    width: 100%;
}
div.row1 {
    background: #345676 none repeat scroll 0 0;
    float: left;
    height: 515px;
    width: 100%;
}
div.row1 div.label {
    color: #ffffff;
    float: left;
    height: 3em;
    line-height: 5em;
    margin-right: 11.6%;
    text-align: right;
    width: 36%;
}
div.row1 div.ad {
    float: left;
    margin-top: 9px;
    max-height: 4em;
    min-height: 3em;
    width: 20%;
}
div.row1 div.btn {
    float: left;
    height: 49px;
    margin-left: 49%;
    margin-right: 33%;
    margin-top: 0;
    width: 9%;
}
div.row1 div.btn a.but {
    color: #ff0000;
    text-transform: capitalize;
}
div.row1 div.btn a.but:hover {
    color: #672445;
}
