body {
    background: #345676 none repeat scroll 0 0;
}
h1.head {
    background-color: #754578;
    color: #ffffff;
    float: left;
    margin-left: 0;
    width: 100%;
}
div.row1 {
    background: #345676 none repeat scroll 0 0;
    float: left;
    height: 467px;
    width: 100%;
}
div.row1 div.label {
    color: #ffffff;
    float: left;
    height: 3em;
    line-height: 4em;
    margin-right: 5%;
    text-align: right;
    width: 38%;
}
div.row1 div.ab {
    float: left;
    max-height: 5em;
    min-height: 3em;
    width: 17%;
    margin-right: 25%;
}
div.row1 div.btn {
    float: left;
    height: -2em;
    margin-left: 45%;
    margin-top: 8px;
    width: 8%;
}
div.row1 div.btn a.but {
    color: #ff0000;
    text-transform: capitalize;
}
div.row1 div.btn a.but:hover {
    color: #672445;
}